{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ media_url }}js/jquery.pack.js"></script>
<script type="text/javascript" src="{{ media_url }}js/farbtastic.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#picker').farbtastic('#id_color');
});
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/css/farbtastic.css" />
{% endblock %}
